@charset "UTF-8";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p {
    margin-bottom: 7px;
}
input,.input-group-text {
    margin-bottom: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: url(../imagens/backgroundLp.png) right bottom no-repeat;
    background-size: cover;
    padding: 30px 0px;
    min-height: 100vh;
}

main#containerDoForm {
    background-color: #131212f1;
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 7px black;
    width: 450px;
    padding: 25px;
}

#div-img-logo {
    margin: 10px 5px 20px 5px;
    text-align: center;
    
    #teg-img-logo {
        max-width: 200px;
    }
}

#parte-4-final {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .label-parte-4 {
        margin: 0px 20px 0px 3px;
    }
}

.footer {
    font: bold 1em italic;
    color: white;
    text-align: center;
}



@media screen and (max-width: 515px) {
    body {
        font-size: 1.5em;
    }

    main#containerDoForm {
        width: 99%;
    }

    #check-4 {
        flex-direction: column;
    }

}