@charset "UTF-8";

// Variaveis Cores
@import "Variaveis/cores.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p {
    margin-bottom: 7px;
}
input,.input-group-text {
    margin-bottom: 10px;
}


body {
    background: url(../imagens/backgroundLp.png) right bottom no-repeat;
    background-size: cover;
}

main#containerDoForm {
    background-color: $Container;
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 7px black;
    margin: auto;
    width: 450px;
    padding: 25px;
}

#div-img-logo {
    margin: 10px 5px 20px 5px;
    text-align: center;
    
    #teg-img-logo {
        max-width: 200px;
    }
}

#parte-4-final {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .label-parte-4 {
        margin: 0px 20px 0px 3px;
    }
}

.footer {
    font: bold 1em italic;
    color: white;
    text-align: center;
}



@media screen and (max-width: 515px) {
    #containerDoForm {
        width: 100%;
    }

    #check-4 {
        flex-direction: column;
    }
}